<div class="text-center">
    <h4 class="display-3">Olá, sou o Macoratti</h4>

    <h5>Sou desenvolvedor especializado em tecnologías .NET.</h5>

    <img id="foto"
         src="~/imagens/macoratti.jpg" alt="Foto do Macoratti" />

</div>
<div class="text-center">
    <img id="imagem-dotnet" src="~/imagens/dotnet1.jpg" alt="logo dotnet" />
</div>

<div class="row justify-content-center text-center" style="background-color : #f7f7f7">
    <div class="col col-md-7 secao-bemvindo">
        <h3>Bem-vindo ao meu portfólio</h3>
        <p>
         Estou atuando no mercado há mais de 20 anos onde trabalhei com diversas equipes e em diversos cenários usando as mais variadas tecnologias e oferecendo soluções para desktop, web e mobile.         
        </p>
    </div>
</div>
