<div id="footer" class="text-center">
    <div class="container-fluid">
        <div class="socials-media text-center">
            <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/Macoratti.net/"><i class="bi bi-facebook"></i></a></li>
                <li><a href="https://twitter.com/macorati"><i class="bi bi-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/macorattinet/"><i class="bi bi-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/jose-macoratti-2507156a/"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
        <p>&copy; Copyright Macoratti.net</p>
    </div>
</div>
