@{
    ViewData["Title"] = "Contato";
}

<img src="~/imagens/contato.jpg" width="100" height="100"/>

<h1>Formulario de Contato</h1>

<form asp-controller="Portfolio" asp-action="Contato">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Informe o nome" />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="nome@email.com" />
    </div>
    <div class="mb-3">
        <label for="mensagem" class="form-label">Mensagem</label>
        <textarea class="form-control" id="mensaje" name="mensagem" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>