@model IEnumerable<Projeto>

@{
    ViewData["Title"] = "Projetos";
}

<div class="container">
    <h1>Meus projetos</h1>
    <p>Principais projetos onde trabalhei</p>
</div>

<partial name="_Projetos" model="Model" />